{% load menu %}


<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <nav class="max-w-4xl mx-auto py-4 px-6 bg-teal-600 flex items-center justify-between items.center">
        <div class="logo">
            <a href=" {% url 'frontpage' %}" class="text-2xl text-white">etsy</a>
        </div>

        <div class='search'>
          <form method="get" action="/search/">
              <input type="search" name="query" placeholder="Search">
              <button class='text-white bg-gray-600 '>Search</button>
          </form>
        </div>

        <div class="menu flex space-x-4">
            {% menu %}
            {% if request.user.is_authenticated %}
              <a href=" {% url 'myaccount' %}" class="text-white">My account</a>
              {% else %}
              <a href=" {% url 'login' %}" class="text-white">Login</a>
            {% endif %}
        </div>
    </nav>
    <div class="max-w-4xl mx-auto py-4 px-6">
        {% block content %}{% endblock content %}
    </div>
  </body>
</html>
